/*=============================
	07. Services CSS Start
===============================*/
// Service section one
.ep-services-section {
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-color: var(--bs-white-color);
	background-image: url("../assets/images/services/service-bg.png");

	.section-title-block {
		.section-title {
			padding-right: 80px;
		}
	}

	.swiper-button-prev,
	.swiper-button-next {
		display: none;
	}

	.arrow {
		width: 60px;
		height: 60px;
		display: flex;
		align-items: center;
		justify-content: center;
		border-radius: 17px;
		border: 5px solid var(--bs-paragraph-color);
		cursor: pointer;
		font-size: 24px;
		transition: var(--bs-transition);
		margin-top: 0;

		&:hover {
			color: var(--bs-primary-color);
			border-color: var(--bs-primary-color);
		}
	}
}

.service-item {
	border: 1px solid var(--bs-border-color);
	padding: 40px;
	transition: var(--bs-transition);
	background-color: var(--bs-white-color);
	height: 100%;

	.icon-box {
		margin-bottom: 60px;
		transition: var(--bs-transition);

		img {
			transition: var(--bs-transition);
		}
	}

	.text {
		.service-title {
			color: var(--bs-black-color);
			font-size: 22px;
			font-weight: 700;
			line-height: 36px;
			margin-bottom: 20px;
		}
	}

	&:hover {
		border-color: var(--bs-black-color);
	}
}

.ep-services-section.style2 {
	background-image: none;
	.service-item {
		margin: 0;

		.icon-box {
			img {
				filter: brightness(1) invert(0);
				transition: var(--bs-transition);
			}
		}

		&:hover {
			.icon-box {
				background-color: var(--bs-secondary-color);

				img {
					filter: brightness(0) invert(1);
				}
			}
		}
	}
}

// Service section two
.ep-services-section-two {
	padding: 0 80px;

	.service-main {
		background-color: var(--bs-white);
	}

	.swiper {
		padding: 15px 0;
		margin: -15px 0;
	}

	.swiper-pagination-bullet {
		background-color: var(--bs-background-color);
		width: 50px;
		height: 10px;
		border: 0;
		transition: var(--bs-transition);

		@media (max-width:575.98px) {
			width: 30px;
		}

		&:first-child {
			border-top-left-radius: 50px;
			border-bottom-left-radius: 50px;
		}

		&:last-child {
			border-top-right-radius: 50px;
			border-bottom-right-radius: 50px;
		}
	}

	.swiper-pagination-bullet-active {
		width: 100px;
		border-radius: 50px;
		background-color: var(--bs-primary-color);
		@media (max-width:575.98px) {
			width: 50px;
		}
	}
}

.service-item-two {
	box-shadow: 0px 5px 15px 0px rgba(0, 0, 0, 0.05);
	transition: var(--bs-transition);
	border-bottom: 3px solid transparent;
	margin: 0 15px;

	.image {
		.img {
			border-top-right-radius: 20px;
			border-top-left-radius: 20px;

			img {
				transition: var(--bs-transition);
			}
		}

		.icon-box {
			bottom: -40px;
		}
	}

	.text {
		padding: 60px 40px 40px 40px;

		.title {
			margin-bottom: 30px;

			a {
				color: var(--bs-black-color);

				&:hover {
					color: var(--bs-secondary-color);
				}
			}
		}
	}

	&:hover {
		box-shadow: none;
		border-color: var(--bs-primary-color);

		.img {
			img {
				transform: scale(1.1);
			}
		}
	}
}

@media (max-width: 1399.98px) {
	.ep-services-section-two {
		padding: 0 20px;
	}

	.service-item {
		padding: 40px 36px;
	}
}

@media (max-width: 1199.98px) {
	.service-item {
		padding: 34px;
	}

	.service-item .icon-box {
		margin-bottom: 40px;
	}

	.service-item .text .service-title {
		margin-bottom: 10px;
	}

	.service-item-two .text {
		padding: 60px 24px 40px 24px;
	}

	.service-item-two .text .title {
		font-size: 20px;
		font-weight: 700;
		line-height: 30px;
	}

	.ep-services-section-two {
		padding: 0;
	}
}

@media (max-width: 991.98px) {
	.service-item {
		padding: 30px;
	}
}

@media (max-width: 767.98px) {
	.ep-services-section .section-title-block .section-title {
		padding-right: 0;
	}
}

@media (max-width: 575.98px) {
	.ep-services-section {
		padding-bottom: 100px;
	}

	.ep-services-section .section-title-block {
		text-align: center;
	}

	.ep-services-section .section-title-block .section-title {
		padding-right: 0;
	}

}